<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @committee.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @committee.code %>
</p>

<p>
  <strong>Website:</strong>
  <%= @committee.website %>
</p>

<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>
