<!DOCTYPE html>
<html>
  <head>
    <title>DemandProgress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <%= render 'shared/nav' %>
                    <%= yield %>

            </div>
        </div>
        <%= render 'shared/footer' %> 
    </div>
  </body>
</html>
